#partial-mainStats.row
  .col-md-4.stat.u-paddingRight.u-paddingLeft
    .icon.u-padding
      %h1.u-noMargin
        %span.text-center.glyphicon.glyphicon-usd.u-marginRight{:"aria-hidden" => 'true'}
    .amount.u-padding
      %h1.u-noMargin
        $10.000
  .col-md-4.stat.u-paddingRight.u-paddingLeft
    .icon.u-padding
      %h1.u-noMargin
        %span.icon.glyphicon.glyphicon-stats.u-marginRight{:"aria-hidden" => 'true'}
    .amount
      %h1.u-padding.u-noMargin
        XXXXX
  .col-md-4.stat.u-paddingRight.u-paddingLeft
    .icon.u-padding
      %h1.u-noMargin
        %span.icon.glyphicon.glyphicon-time.u-marginRight{:"aria-hidden" => 'true'}
    .amount
      %h1.u-padding.u-noMargin
        XXXXX
