.container-fluid
  .row
    .col-sm-12.col-md-12.main
      %h1.page-header harry@potter.com
      %h2.sub-header Orders
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Number
              %th Date
              %th Total
          %tbody
            - @orders.each do |order|
              %tr
                %td= "R1234"
                %td= order.date.strftime("%d/%m/%Y")
                %td= order.total
