.container-fluid
  .row
    .col-sm-12.col-md-12.main
      %h1.page-header harry@potter.com
      %h2.sub-header Last 10 Orders
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Number
              %th Date
              %th Total
          %tbody
            - @orders.sort_by{|order| order.date}.last(10).reverse.each do |order|
              %tr
                %td= order.order_id 
                %td= order.date.strftime("%d/%m/%Y")
                %td= order.total
